    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"><i class="fas fa-globe-americas">&nbsp;</i><a href="/">Shrtnr</a></h1>
                <h2 class="subtitle">{{ . }}</h2>
            </div>
        </div>
    </section>